/*
 * *** You can say something about your file if you need it
 * Template Name
 * Description
 * Vertion
 * Copyright
 * Author
 * Last Modified Date
 *
 *
 */
/*--------------------------*/
/* $Catalog
/*--------------------------*/
/**
 *  Catalog
 *  Elements
 *  Header
 *  About
 *  Quote
 *  Skill
 *  Experience
 *  Footer
 *  Bubbles graphic
**/

/*--------------------------*/
/* $Global
/*--------------------------*/


/*--------------------------*/
/* $Elements
/*--------------------------*/

/* background
----------------------*/
.bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, #a3d5dc, #e3d5c9, #f3efdd);
	opacity: 0.8;
}
/* button
----------------------*/
/* normal */
.btn{
	display: inline-block;
	vertical-align: top;
	margin: 0;
	height: 36px;
	line-height: 36px;
	padding: 0 16px;
	min-width: 64px;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	letter-spacing: 0;
	text-decoration: none;
	color: #fefefe;
	background-color: #484848;
	border: 0;
	border-radius: 18px;
	outline: 0;
	cursor: pointer;
	overflow: hidden;
	user-select: none;
	user-drag: none;
	transition: all 0.3s;
  	font-family: 'Raleway', 'Helvetica', 'Roboto', arial, sans-serif;
}

.btn.btn--lg{
	font-size: 20px;
	line-height: 56px;
	height: 56px;
	font-weight: 400;
	border-radius: 28px;
	padding: 0 64px;
}
.btn.btn--sm{
	font-size: 14px;
	line-height: 32px;
	height: 32px;
	font-weight: 400;
	border-radius: 16px;
	padding: 0 32px;
}
.btn.btn--md{
	font-size: 18px;
	line-height: 48px;
	height: 48px;
	font-weight: 400;
	border-radius: 24px;
	padding: 0 64px;
}

.btn--primary,
.btn--secondary{
	color: #fdf4f2;
}
.btn.btn--primary{
	background-color: #f2987d;
}
.btn.btn--primary:active,
.btn.btn--primary:hover{
	background-color: #D98870;
}
.btn.btn--secondary{
	background-color: #c1dbda;
}
.btn.btn--secondary:active,
.btn.btn--secondary:hover{
	background-color: #ADC5C4;
}

/* icon btn */
.icon-btn{
	display: inline-block;
	width: 32px;
	height: 42px;
	line-height: 32px;
	font-size: 24px;
}
@media (max-width: 310px){
	.header .icon-btn{
		width: 24px;
		height: 40px;
		line-height: 24px;
		font-size: 18px;
	}
}
.icon-btn .icon{
	display: block;
	text-align: center;
	transition: all 0.3s;
}
/*--------------------------*/
/* $Header
/*--------------------------*/
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	transition: all 0.3s;
}
.header--colored{
	background-color: #dfe1d3;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
}
.header--colored .menu-toggle span{
	background-color: #2D2F21;
}
.header--colored .icon{
	color: #2D2F21;
}

/* navbar
----------------------*/
.navbar{}
.navbar__social-bar{
	padding: 24px;
	float: left;
}
@media (max-width: 768px){
	.navbar__social-bar{
		padding: 12px;
		padding-bottom: 0;
	}
}
/* 在navbar內才更換icon顏色 */
.navbar__social-bar .icon-btn{
	color: #484848;
}
@media (max-width: 768px){
	.navbar__social-bar .icon-btn{
		height: 30px;
	}
}
.navbar__social-bar .icon-btn .icon:hover{
	color: #b5a8a0;
	transform: scale(1.07);
}
/* 定義navbar中nav float用途 */
.navbar__nav{
	float: right;
}
/* navbar調整位置 */
.navbar--collapse{
	margin-right: -16px;
	margin-left: -16px;
}
/* menu-toggle
----------------------*/
.menu-toggle{
	display: block;
	padding: 24px;
	padding-top: 26px;
}
@media (max-width: 768px){
	.menu-toggle{
		padding: 12px;
		padding-top: 16px;
		/*	fix	*/
		/*right: 100%;*/
	}
}
@media (max-width: 310px){
	.menu-toggle{
		padding-top: 13px;
	}
}
.menu-toggle span{
	display: block;
	width: 32px;
	height: 2px;
	background-color: #484848;
	margin-bottom: 8px;
	transition: all 0.3s;
}
@media (max-width: 480px){
	.menu-toggle span{
		width: 28px;
	}
}
@media (max-width: 310px){
	.menu-toggle span{
		width: 16px;
		margin-bottom: 4px;
	}
}

.menu-toggle:hover span:nth-child(1),
.menu-toggle:hover span:nth-child(3){
	transform:scale(0.9);
	background-color: #b5a8a0;
}
.menu-toggle:hover span:nth-child(2){
	transform:scale(1.1);
	background-color: #b5a8a0;
}

/* popup-menu
----------------------*/
/* menu介面 */
.popup-menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #cac6bd;
	transition: all 0.3s;
	opacity: 0;
	visibility: hidden;
}
#popup-overlay:target{
	opacity: 1;
	visibility: visible;
}	
.popup-menu__close{
	padding: 24px;
	width: 80px;
	height: 80px;
	float: right;
	transition: all 0.3s;
	margin-right: -16px;
}
@media (max-width: 768px){
	.popup-menu__close{
		padding: 12px;
		width: 56px;
		height: 56px;
	}
}
@media (max-width: 310px){
	.popup-menu__close{
		padding: 13px;
		width: 40px;
		height: 40px;
	}
}

.popup-menu__close:hover{
	transform: rotate(180deg);
}
.popup-menu__close span{
	position: absolute;
	width: 32px;
	height: 2px;
	background-color: #484848;
	top: 50%;
	left: 50%;
}
@media (max-width: 480px){
	.popup-menu__close span{
		width: 28px;
	}
}
@media (max-width: 310px){
	.popup-menu__close span{
		width: 16px;
	}
}
.popup-menu__close span:nth-child(1){
	transform: translate(-50%,-50%) rotate(45deg);
}
.popup-menu__close span:nth-child(2){
	transform: translate(-50%,-50%) rotate(-45deg);
}

/* menu內各項 */
.popup-menu__item{
	display: block;
	padding-bottom: 30px;
	text-align: center;
	font-family: 'Shadows Into Light', 'Helvetica', 'Roboto', arial, sans-serif;
	font-size: 40px;
	font-weight: 800;
	color: #484848;
	line-height: 80px;
	transition: all 0.3s;
}
.popup-menu__item:hover{
	color: #b5a8a0;
}
@media (max-width: 992px){
	.popup-menu__item{
		font-size: 36px;
		padding-bottom: 20px;
	}
}
@media (max-width: 768px){
	.popup-menu__item{
		font-size: 32px;
		padding-bottom: 15px;
	}
}
@media (max-width: 480px){
	.popup-menu__item{
		font-size: 28px;
		padding-bottom: 8px;
	}
}
@media (max-width: 410px){
	.popup-menu__item{
		font-size: 20px;
		padding-bottom: 3px;
	}
}
@media (max-width: 310px){
	.popup-menu__item{
		font-size: 18px;
		padding-bottom: 1px;
	}
}

/*--------------------------*/
/* $About
/*--------------------------*/
.hero{
	padding-top: 20vh;
	padding-bottom: 20vh;
}
@media (max-width: 480px){
	.hero{
	padding-top: 80px;
	padding-bottom: 80px;
	}
}
.hero__heading{
	font-size: 120px;
	font-weight: 900;
	color: #484848;
	letter-spacing: 1px;
}
@media (max-width: 992px){
	.hero__heading{
		font-size: 96px;
	}
}
@media (max-width: 768px){
	.hero__heading{
		font-size: 80px;
	}
}
@media (max-width: 480px){
	.hero__heading{
		font-size: 48px;
	}
}
.hero__bg{
	position: absolute;
	top: 0px;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translateX(-50%);
	background-image: url("../images/tequila.webp");
	background-size: 400px;
	background-repeat: no-repeat;
	background-position: right;
	max-width: 1140px;
}
@media (max-width: 992px){
	.hero__bg{
		top: -3%;
		transform: translate(-55%);
		background-size: 300px;
	}
}
@media (max-width: 768px){
	.hero__bg{
		top: -3%;
		transform: translate(-50%);
		background-size: 250px;
	}
}
@media (max-width: 480px){
	.hero__bg{
		transform: translateX(-50%);
		background-size: 170px;
	}
}

@media (max-width: 768px){
	.hero .btn{
		font-size: 17px;
		line-height: 44px;
		height: 44px;
		font-weight: 400;
		border-radius: 22px;
		padding: 0 48px;
	}
}
@media (max-width: 480px){
	.hero .btn{
		font-size: 14px;
		line-height: 32px;
		height: 32px;
		font-weight: 400;
		border-radius: 16px;
		padding: 0 32px;
	}
}
	

/*--------------------------*/
/* $Quote
/*--------------------------*/
.quote{
	padding-top: 80px;
	box-shadow: 0 0 10px 20px #dfe1d3;
}
@media (max-width: 768px){
	.quote{
		padding-top: 40px;
		box-shadow: 0 0 5px 10px #dfe1d3;
	}
}
.quote__content{
	color: #484848;
	font-size: 18px;
	font-weight: 600;
	line-height: 40px;
	text-align: center;
}
.quote__icon{
	color: #fdf4f2;
	background-color: #f2987d;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	line-height: 64px;
	font-size: 32px;
	margin: auto;
	margin-bottom: 24px;
}
@media (max-width: 768px){
	.quote__icon{
		width: 56px;
		height: 56px;
		line-height: 56px;
		font-size: 28px;
		margin-bottom: 18px;
	}
}
@media (max-width: 480px){
	.quote__icon{
		width: 48px;
		height: 48px;
		line-height: 48px;
		font-size: 24px;
		margin-bottom: 12px;
	}
}

.quote__text{
	font-size: 1.15vw;
	line-height: 40px;
	text-align: center;
	margin-bottom: 24px;
}
@media (max-width: 1200px){
	.quote__text{
		font-size: 1.5vw;
	}
}
@media (max-width: 992px){
	.quote__text{
		font-size: 1.28vw;
	}
}
@media (max-width: 767px){
	.quote__text{
		font-size: 1.8vw;
	}
}
@media (max-width: 480px){
	.quote__text{
		font-size: 2.7vw;
	}
}
@media (max-width: 310px){
	.quote__text{
		font-size: 3vw;
		margin-bottom: 10px;
	}
}

.quote__name span{
	color: #f2987d;
	font-size: 32px;
}
@media (max-width: 480px){
	.quote__name span{
		font-size: 30px;
	}
}
@media (max-width: 410px){
	.quote__name span{
		font-size: 26px;
	}
}

/*--------------------------*/
/* $Skill
/*--------------------------*/
.skill{
	padding-top: 80px;
	padding-bottom: 80px;
}
@media (max-width: 768px){
	.skill{
		padding-top: 0px;
		padding-bottom: 40px;
	}
}
@media (max-width: 480px){
	.skill{
		padding-top: 0px;
	}
}
@media (max-width: 310px){
	.skill{
		padding-top: 0px;
		padding-bottom: 20px;
	}
}
.skill-group{	
	padding-top: 80px;
	padding-bottom: 80px;
}
@media (max-width: 768px){
	.skill-group{
		padding-top: 40px;
		padding-bottom: 0px;
	}
}
@media (max-width: 310px){
	.skill-group{
		padding-top: 20px;
		padding-bottom: 0px;
	}
}

.skill-card{
	padding-left: 32px;
	margin-bottom: 32px;
}
.skill-card__inner{
	padding: 24px;
	padding-left: 48px;
	background-color: #FBFCFA;
	border-radius: 4px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}
@media (max-width: 480px){
	.skill-card{
		padding-right: 18px;
		margin-bottom: 20px;
	}
	.skill-card__inner{
		padding: 12px;
		padding-left: 36px;
	}
}
@media (max-width: 310px){
	.skill-card{
		margin-bottom: 20px;
	}
	.skill-card__inner{
		padding: 12px;
		padding-left: 26px;
	}
}

.skill-card__title{
	color: #f2987d;
	font-family: 'Shadows Into Light', 'LXGW WenKai TC', 'Helvetica', 'Roboto', arial, sans-serif;
	margin-top: 0;
	margin-bottom: 8px;
}
@media (max-width: 992px) and (min-width: 768px){
	.skill-card__title{
		font-size: 17px;
	}
}
@media (max-width: 480px){
	.skill-card__title{
		font-size: 4.1vw;
	}
}
.skill-card__text{
	margin: 0;
	font-size: 0.95vw;
}
@media (max-width:1200px){
	.skill-card__text{
		font-size: 1.3vw;
	}
}
@media (max-width: 992px){
	.skill-card__text{
		font-size: 1vw;
	}
}
@media (max-width: 900px){
	.skill-card__text{
		font-size: 1.15vw;
	}
}
@media (max-width: 768px){
	.skill-card__text{
		font-size: 1.3vw;
	}
}
@media (max-width: 767px){
	.skill-card__text{
		font-size: 14px;
	}
}
@media (max-width: 480px){
	.skill-card__text{
		font-size: 2.4vw;
	}
}

.skill-card__icon{
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background-color: #F9F9F8;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.skill-card__icon .image{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-width: 65%;
	max-height: 65%;
}
@media (max-width: 480px){
	.skill-card__icon{
		width: 48px;
		height: 48px;
		left: calc(0% + 8px);
	}
}
@media (max-width: 310px){
	.skill-card__icon{
		width: 36px;
		height: 36px;
		left: calc(0% + 14px);
	}
}

/*--------------------------*/
/* $Experience
/*--------------------------*/
.experience{
	padding-top: 80px;
	padding-bottom: 80px;
}
@media (max-width: 768px){
	.experience{
		padding-top: 20px;
		padding-bottom: 40px;
	}
}
@media (max-width: 310px){
	.experience{
		padding-top: 10px;
		padding-bottom: 40px;
	}
}

/* timeline
----------------------*/
.timeline-group{
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 120px;
}
@media (max-width: 768px){
	.timeline-group{
		margin-top: 60px;
	}
}
@media (max-width: 310px){
	.timeline-group{
		margin-top: 30px;
	}
}

.timeline{
	width: 4px;
	height: 100%;
	background-color: #f2987d;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(-50%);
	box-shadow: 0 3px 10px rgba(0,0,0,0.25);	
}


.timeline-cards__row{
/*	right: -24px;*/
}
.timeline-card{
	transform: translateX(24px);
	padding: 28px 24px;
	margin-bottom: 24px;
	border-radius: 4px;
	width: calc(100% - 24px);
	background-color: #FBFCFA;
	box-shadow: 0 3px 10px rgba(0,0,0,0.5);	
}
@media (max-width: 768px){
	.timeline-card{
		padding: 24px;
		margin-bottom: 12px;
	}
}
@media (max-width: 480px){
	.timeline-card{
		padding: 20px;
		margin-bottom: 10px;
	}
}
.timeline-cards__row:last-child .timeline-card{
	margin-bottom: 0;
}
.timeline-card:before{
	content: "";
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #f2987d;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	left: -24px;
	box-shadow: 0 3px 10px rgba(0,0,0,0.5);	
}

.timeline-card__text{
	margin: 0;
}
.timeline-card__text__date{
	font-size: 18px;
	color: #6c6460;
}
@media (max-width: 768px){
	.timeline-card__text{
		font-size: 14px;
	}
	.timeline-card__text__date{
		font-size: 16px;
	}
}
@media (max-width: 480px){
	.timeline-card__text{
		font-size: 12.5px;
	}
	.timeline-card__text__date{
		font-size: 14.5px;
	}
}
@media (max-width: 410px){
	.timeline-card__text{
		font-size: 10px;
	}
	.timeline-card__text__date{
		font-size: 12px;
	}
}
@media (max-width: 310px){
	.timeline-card__text{
		font-size: 4vw;
	}
	.timeline-card__text__date{
		font-size: 4.3vw;
	}
}

.timeline-card__icon{
	position: absolute;
	height: 90%;
	width: 15%;
	top: 50%;
	right: 10%;
	transform: translate(50%,-50%);
}
.timeline-card__icon .image{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-width: 70%;
	max-height: 50%;
}
@media (max-width: 767px){
	.timeline-card__icon{
		width: 15%;
		height: 60%;
	}
	.timeline-card__icon .image{
		max-width: 70%;
		max-height: 75%;
	}
}
@media (max-width: 530px){
	.timeline-card__icon,
	.timeline-card__icon .image{
		display: none;
	}
}
@media (max-width: 480px){
	.timeline-card__icon,
	.timeline-card__icon .image{
		display: block;
	}
	.timeline-card__icon{
		right: 15%;
		width: 22.5%;
		height: 60%;
	}
	.timeline-card__icon .image{
		max-width: 70%;
		max-height: 65%;
	}
	.timeline-card__text__ENG{
		display: none;
	}
}
@media (max-width: 310px){
	.timeline-card__icon,
	.timeline-card__icon .image{
		display: none;
	}
}
/*--------------------------*/
/* $Education & Certificates
/*--------------------------*/
.eduandcer{
	padding-top: 80px;
	padding-bottom: 40px;
	box-shadow: 0 0 10px 20px #dfe1d3;
}
@media (max-width: 768px){
	.eduandcer{
		padding-top: 40px;
		padding-bottom: 0;
		box-shadow: 0 0 5px 10px #dfe1d3;
	}
	.eduandcer .subtitle{
		font-size: 34px;
	}
}
@media (max-width: 480px){
	.eduandcer .subtitle{
		font-size: 25px;
	}
}
@media (max-width: 310px){
	.eduandcer{
		padding-top: 0px;
	}
	.eduandcer .subtitle{
		font-size: 20px;
	}
}

.background-group{	
	padding-top: 80px;
/*	padding-bottom: 80px;*/
}
@media (max-width: 480px){
	.background-group{
		padding-top: 80px;
		padding-bottom: 0px;
	}
}
@media (max-width: 310px){
	.background-group{
		padding-top: 60px;
	}
}
.background-card{
	margin-bottom: 32px;
}
@media (max-width: 480px){
	.background-card{
		margin-bottom: 20px;
		padding-bottom: 40px;
	}
}
.background-card__inner{
	padding: 24px;
	border-radius: 4px;
}
@media (max-width: 480px){
	.background-card__inner{
		padding-left: 48px;
		margin-top: 40px;
	}
}
.background-card__title{
	color: #6c6460;
	font-family: 'Raleway' ,'LXGW WenKai TC' , 'Helvetica', 'Roboto', arial, sans-serif;
	margin-top: 0;
	margin-bottom: 4px;
	text-align: left;
}
@media (max-width: 992px){
	.background-card__title{
		font-size:2vw;
	}
}
@media (max-width: 768px){
	.background-card__title{
		font-size: 20px;
	}
	.background-card__title.title-sm{
		font-size: 13.9px;
	}
}
@media (max-width: 480px){
	.background-card__title, .background-card__title.title-sm{
		text-align: center;
		margin-right: 23px;
		font-size: 17px;
	}
}
@media (max-width: 410px){
	.background-card__title, .background-card__title.title-sm{
		font-size: 3.4vw;
	}
}
@media (max-width: 310px){
	.background-card__title, .background-card__title.title-sm{
		font-size: 2.95vw;
	}
}

.background-card__text{
	color: #484848;
	font-weight: 100;
	font-family: 'LXGW WenKai TC', 'Raleway', 'Helvetica', 'Roboto', arial, sans-serif;
	margin: 0;
	text-align: left;
}

@media (min-width: 481px) and (max-width: 768px){
	.background-card__text{
		font-size: 16px;
	}
	.background-card__text.text-sm{
		font-size: 10.6px;
	}
	.background-card__text.text-sm-2{
		font-size: 9.4px;
	}
}
@media (max-width: 480px){
	.background-card__text, 
	.background-card__text.text-sm, 
	.background-card__text.text-sm-2{
		text-align: center;
		margin-right: 23px;
		font-size: 12.5px;
	}
}
@media (max-width: 410px){
	.background-card__text, 
	.background-card__text.text-sm, 
	.background-card__text.text-sm-2{
		font-size: 2.45vw;
	}
}
@media (max-width: 310px){
	.background-card__text, 
	.background-card__text.text-sm, 
	.background-card__text.text-sm-2{
		font-size: 2.5vw;
	}
}

.background-card__text span{
	font-weight: 900;
}
.background-card__text .blue_text{
	color: #617f84;
}
.background-card__text .gold_text{
	color: #ae8419;
}
.background-card__icon{
	width: 25%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: -25%;
	transform: translateY(-50%);
}
@media (max-width: 480px){
	.background-card__icon{
		width: 100%;
		left: 0;
		top: -10%;
	}
}
.background-card__icon .image{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-width: 60%;
	max-height: 55%;
}
@media (max-width: 480px){
	.background-card__icon .image{
	max-width: 35%;
	max-height: 30%;
	}
}
@media (max-width: 410px){
	.background-card__icon .image{
	max-width: 30%;
	max-height: 25%;
	}
}

/* fix */
@media (max-width:767px) and (min-width: 481px){
	.edu-fix{
	width: 50%;
	left: 33.33333333%;
	}
}

/*--------------------------*/
/* $Footer
/*--------------------------*/
.footer{
	margin: 0 auto;
	padding: 10px 0;
}
@media (max-width:410px){
	.footer{
		padding-top: 5px;
		padding-bottom: 5px;
	}
}
@media (max-width:310px){
	.footer{
		padding-top: 0px;
		padding-bottom: 0px;
	}
}

.footer .icon-mail-1{
	padding-right: 8px;
	line-height: 30px;
	width: 30px;
}
.footer .icon-mobile{
	padding-right: 0px;
	line-height: 30px;
	width: 30px;
}
@media (max-width:480px){
	.footer .icon-mail-1,
	.footer .icon-mobile{
		display: none;
	}
}

.footer__information-1,
.footer__information-2{
	text-decoration: none;
  	font-family: 'Oswald', 'LXGW WenKai TC', 'Helvetica', 'Roboto', arial, sans-serif;
	color: #1E1F16;
	padding: 0;
	margin: 0 auto;
	line-height: 30px;
	letter-spacing: 2px;
	text-align: left;
	transition: all 0.3s;
}
@media (max-width:767px){
	.footer__information-1,
	.footer__information-2{
		left:10%;
	}
}
@media (max-width:410px){
	.footer__information-1,
	.footer__information-2{
		font-size: 14px;
	}
}
@media (max-width:310px){
	.footer__information-1,
	.footer__information-2{
		font-size: 12px;
	}
}
.footer__information-1:hover,
.footer__information-2:hover{
	color: #61625b;
}
.footer__information-1:before,
.footer__information-2:before{
	content: "";
	position: absolute;
	top: 53.75%;
	width: 2px;
	height: 80%;
	transform: translateY(-50%);
	transition: all 0.3s;
	background-color: #7C5E11;
}
.footer__information-1:before{
	left: 10%;
}
.footer__information-2:before{
	left: 13%;
}
@media (max-width:480px){
	.footer__information-1:before,
	.footer__information-2:before{
		display: none;
	}
}

/*--------------------------*/
/* $Bubbles graphic
/*--------------------------*/
[class^= "graphic_"]{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	opacity: 75%;
}
[class^= "img-container_"]{
	position: absolute;
}
@media (max-width: 1200px){
	[class^= "graphic_"]{
		display: none;
	}
	[class^= "img-container_"]{
		display: none;
	}

}
/* hero */
.img-container_01{
	width: 10%;
	height: 50%;
	top: 20%;
	left: 6%;
}
.graphic_01{
	position: absolute;
	top: 35%;
	left: 35%;
	max-width: 80%;
	max-height: 100%;
}
/* about */
.img-container_02{
	width: 10%;
	height: 50%;
	top: -105%;
	right: 10%;
}
.graphic_02{
	position: absolute;
	max-width: 100%;
	max-height: 100%;
}
/* skill */
.img-container_03{
	width: 15%;
	height: 30%;
	top: -60%;
	left: 7.5%;
}
.graphic_03{
	position: absolute;
	max-width: 50%;
	max-height: 100%;
	opacity: 80%;
}
.img-container_04{
	width: 10%;
	height: 30%;
	top: -10%;
	right: 0%;
}
.graphic_04{
	position: absolute;
	transform: translate(-50%,-50%) scaleY(-1);
	max-width: 80%;
	max-height: 100%;
	opacity: 40%;
}
.img-container_05{
	width: 10%;
	height: 30%;
	top: 70%;
	left: 0%;
}
.graphic_05{
	position: absolute;
	max-width: 90%;
	max-height: 90%;
	opacity: 100%;
	transform: translate(-50%,-50%) scaleX(-1);
}
/* experience */
.img-container_06{
	width: 10%;
	height: 40%;
	top: 1.25%;
	right: 5%;
}
.graphic_06{
	position: absolute;
	max-width: 110%;
	max-height: 200%;
	opacity: 75%;
}
/* education & certificates */
.img-container_07{
	width: 10%;
	height: 30%;
	top: -70%;
	left: 4.5%;
}
.graphic_07{
	position: absolute;
	max-width: 120%;
	max-height: 160%;
	height: 115%;
	opacity: 50%;
}
.img-container_08{
	width: 10%;
	height: 30%;
	top: -11.25%;
	right: 0.5%;
}
.graphic_08{
	position: absolute;
	max-width: 110%;
	max-height: 200%;
	opacity: 25%;
	transform: translate(-50%,-50%) scaleX(-1);
}
.img-container_09{
	width: 20%;
	height: 60%;
	top: 5.5%;
	left: -7.35%;
}
.graphic_09{
	position: absolute;
	max-width: 100%;
	max-height: 110%;
	width: 70%;
	height: 50%;
	opacity: 50%;
	transform: translate(-50%,-50%) scaleX(-1);
}
.img-container_10{
	width: 10%;
	height: 20%;
	top: 50%;
	right: 8%;
}
.graphic_10{
	position: absolute;
	max-width: 110%;
	max-height: 200%;
}
.img-container_11{
	width: 20%;
	height: 20%;
	top: 85%;
	left: 10%;
}
.graphic_11{
	position: absolute;
	max-width: 50%;
	max-height: 160%;
	width: 40%;
	height: 60%;
	opacity: 50%;
}